$background-color: linear-gradient(to right, #e0eafc, #cfdef3);
$white-color: #fff;
$black-color: #000;
$shadow-color: rgba(0, 0, 0, .3);
$line-gradient: linear-gradient(90deg, hsla(41, 100%, 70%, 1) 0%, hsla(7, 76%, 47%, 1) 100%);
$menuBg-color: #F08543;
$lightOrange-color: rgb(253, 194, 66);
$lightGray-color: rgba(255, 255, 255, 0.486);
$lightGray2-color: rgba(207, 207, 207, 0.774);
$lightGray3-color: rgba(146, 146, 146, 0.774);